.userCard {
  width: 15rem;
  margin: 8px;
  box-shadow: rgba(200, 200, 200, 0.596) 0.25rem 0.25rem 5px;
}

.userimg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
