.connection-cards {
  display: flex;
  flex-wrap: wrap;
}

/* .connection-card-container {
  flex-wrap: wrap;
} */

.connection-card {
  width: 15rem;
  margin: 8px;
  box-shadow: rgba(200, 200, 200, 0.596) 0.25rem 0.25rem 5px;
}

.connection-card-image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.connection-card-image.card-img-top {
  max-height: 250px;
}

.connection-btn.btn.btn-secondary {
  background-color: rgba(255, 171, 14, 0.931);
}
